#headerLogo {
    height: 70px;
    float: left;
    border: 2px solid black;
}

#header {
    width: 100%;
    position: fixed;
}

#authenticateButton {
    width: 50%;
}

#authenticateButton:hover {
    cursor: pointer;
}

#container {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#title {
    font-weight: bolder;
    font-size: 30px;
}

p {
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
}

body {
    background: #FFAFBD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}