#headerLogo {
  height: 70px;
  float: left;
  border: 2px solid black;
}

#header {
  width: 100%;
  position: fixed;
}

p {
  font-family: "Varela Round", sans-serif;
  font-size: 20px;
}

body {
  height: 100%;
  overflow: hidden;
  background: #ffafbd;
  background: -webkit-linear-gradient(to right, #ffc3a0, #ffafbd);
  background: linear-gradient(to right, #ffc3a0, #ffafbd);
}

#containerContainer {
  padding-top: 75px;
}

.canvasContainer {
  width: 100%;
} 

canvas {
  height: 400px !important;
}

.imageContainer {
  position: fixed;
  margin-top: -20px;
  margin-left: 125px;
}

#imageText {
  padding-left: 320px;
  font-weight: bolder;
}

#barsText {
  float: right;
}

#containerImage {
  width: 145px;
  height: 145px;
  margin: 0px 5px 0px 5px;
}